<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Polyscript</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <!--  <script src="polyfill-datalist.js"></script>-->
        <script type="text/javascript" src="polyfill-datalist.js"></script>
    </head>
    <body>
        <div id="app">
          <nav class="noselect">
              <form autocomplete="off" action="">
                <div class="autocomplete" id="chapter-input-container">
                <!--<input id="myInput" type="text" name="myCountry" placeholder="Country">-->
                  <input id="chapter-input" type="text" name="chapter" v-model="input" v-bind:placeholder="placeholder" v-on:keyup.enter="handleInput">
                  <span type="submit" id="input-button" class="noselect" v-on:click="handleInput">
                    &#10132;
                  </span>
                </div>
                <!--<input type="submit">-->
              </form>
              <!--<div class="autocomplete">
                <input id="chapter-input" type="text" name="chapter" v-on:keyup.enter="handleInput" v-model="input" v-bind:placeholder="placeholder">
              </div>-->
              <!--<datalist id="book-suggestions">
                <option v-for="book in booksInfo" v-bind:value="book[0]" v-bind:label="`${book[0]} (1..${book[2]})`"></option>
                <option v-for="book in booksInfo" v-bind:value="book[0]">{{ book[0] + ' (1..' + book[2] + ')' }}</option>
              </datalist>-->
            <label id="input-error-chapter" v-if="inputErrorChapter">{{ inputErrorBookInfo }} only goes up to chapter {{ inputErrorChapterInfo }}</label>
            <label id="input-error-book" v-if="inputErrorBook">{{ inputErrorBookInfo }} is not a valid book</label>
            <select id="new-lang" v-model="newLang" v-on:change="addLang" v-if="!newLang">
              <option value="" selected disabled>&#10133;</option>
              <option v-for="lang in Object.keys(langsInfo)" v-if="!chapters.find(element => element.lang == lang) && !noContentLangs.includes(lang)" v-bind:value="lang">{{ langsInfo[lang] }}</option>
            </select>
          </nav>
          <div id="previous-chapter" class="noselect" v-on:click="previousChapter">
            <span id="previous-chapter-button">&#8249;</span>
          </div>
          <div id="next-chapter" class="noselect" v-on:click="nextChapter">
            <span id="next-chapter-button">&#8250;</span>
          </div>
          <div id="scripture-container" class="grid-container" v-if="chapters && chapters.length > 0" v-bind:style="'grid-template-rows: repeat('+chapters[0].divLength+', auto);'">
            <template v-if="chapters" v-for="language in chapters">
              <div class="chapter-lang-container noselect" v-bind:style="'grid-column-start: '+chapters.indexOf(language)+1+';'" v-on:click="removeLang=language.lang;delLang();">
                <p class="chapter-lang"><span v-if="language.verses==0">No content for: </span>{{ langsInfo[language.lang] }}</p>
                <p class="chapter-lang-delete">&#128465;</p>
              </div>
              <template v-if="language.verses!=0">
                <p class="book-title" v-bind:style="'grid-column-start: '+chapters.indexOf(language)+1+';'" v-html="language.bookTitle || ''"></p>
                <p class="book-subtitle" v-bind:style="'grid-column-start: '+chapters.indexOf(language)+1+';'" v-html="language.bookSubtitle || ''"></p>
                <p class="book-summary" v-bind:style="'grid-column-start: '+chapters.indexOf(language)+1+'; text-align: '+textAlign(language.lang)+';'" v-html="language.bookSummary || ''"></p>
                <p class="chapter-comprising" v-bind:style="'grid-column-start: '+chapters.indexOf(language)+1+'; text-align: '+textAlign(language.lang)+';'" v-html="language.chapterComprising || ''"></p>
                <p class="chapter-title" v-bind:style="'grid-column-start: '+chapters.indexOf(language)+1+';'" v-html="language.chapterTitle || ''"></p>
                <p class="chapter-summary" v-bind:style="'grid-column-start: '+chapters.indexOf(language)+1+'; text-align: '+textAlign(language.lang)+';'" v-html="language.chapterSummary || ''"></p>
                <template v-for="verse in language.verses">
                  <p class="verse" v-bind:style="'grid-column-start: '+chapters.indexOf(language)+1+'; text-align: '+textAlign(language.lang)+';'" v-html="verse"></p>
                </template>
                <p id="balance" v-if="language.divLength % 2 == 1"></p>
              </template>
              <template v-if="language.verses==0">
                <p class="filler" v-for="i in fillLength" v-bind:style="'grid-column-start: '+chapters.indexOf(language)+1+'; text-align: '+textAlign(language.lang)+';'"></p>
                <p id="balance" v-if="fillLength % 2 == 0"></p>
              </template>
            </template>
          </div>
          <div v-else>
            <img src="squiggle.png" alt="Looping Arrow">
          </div>
          <div id="scrape-container">
          </div>
          <p>©Ethan Woolley 2020</p>
        </div>
        <script src="info.js"></script>
        <script src="script.js"></script>
    </body>
</html>
