:root {
  --red: #e63946;
  --offwhite: #f1faee;
  --lightblue: #a8dadc;
  --blue: #457b9d;
  --darkblue: #1d3557;
  --paragraph-width: 30em;
  --offwhite-contrast: #0e0511;
}

html {
  font-family: Palatino, "Palatino Linotype", Palatino-Roman, Pahoran, "Pahoran ldsLat", "Noto Sans Myanmar", NotoSansMyanmar, SaysetthaldsLao, NotoSerifTamil, serif;
  font-size: 1.125em;
  overflow-x: auto;
  overflow-y: scroll;
}

.grid-container > p:empty {
  padding-top: 0em;
  padding-bottom: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}

.grid-container > p:nth-last-child(odd) {
  background: var(--offwhite);
}

p, .chapter-lang-container {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  max-width: 28rem;
  overflow: auto;
}

.chapter-lang-container:hover {
  color: var(--red);
  text-decoration: line-through;
  cursor: pointer;
  overflow: hidden;
}

#balance {
  padding-left: 0em;
  padding-right: 0em;
}

.book-title {
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  font-size: 1.75em;
  line-height: 1em;
  padding-bottom: .35em;
  padding-top: .15em;
}

.book-subtitle {
  font-size: .88em;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.33em;
  padding-top: .15em;
}

.book-summary {
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.chapter-comprising {
  font-family: Palatino,"Palatino Linotype","Palatino Italic",Palatino-Italic,Pahoran,"Pahoran ldsLat","Noto Sans Myanmar",NotoSansMyanmar,SaysetthaldsLao,NotoSerifTamil,serif;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  padding-top: .90em;
  padding-bottom: 1.25em;
}

.chapter-title {
  text-align: center;
  padding-top: .85em;
  font-size: 1.1em;
  padding-bottom: .5em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.chapter-summary {
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  padding-bottom: 1em;
  padding-top: .15em;
  font-family: Palatino,"Palatino Linotype","Palatino Italic",Palatino-Italic,Pahoran,"Pahoran ldsLat","Noto Sans Myanmar",NotoSansMyanmar,SaysetthaldsLao,NotoSerifTamil,serif;
}

.verse {
  padding-bottom: .65em;
  padding-top: .15em;
}

#new-lang {
  float: right;
  width: 4em;
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  width: 100%;
  background: white;
  height: 2rem;
}

.chapter-lang-container {
  position: sticky;
  position: -webkit-sticky;
  top: 2rem;
  background: white;
  line-height: 2em;
  font-weight: bold;
}

.chapter-lang {
  padding-left: 0rem;
  text-decoration: inherit;
  float: left;
}

#previous-chapter, #next-chapter {
  position: -webkit-sticky;
  position: sticky;
  padding-top: 20%;
  padding-bottom: 20%;
  top: 5%;
  cursor: pointer;
}

#previous-chapter:hover, #next-chapter:hover {
  color: var(--blue);
}

#previous-chapter-button, #next-chapter-button {
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 4em;
}

#previous-chapter {
  float: left;
  padding-left: 0em;
}

#next-chapter {
  float: right;
  padding-right: 0em;
}

#chapter-input-container {
  border: .15rem solid #DDD;
  display: inline-block;
  border-radius: .5em;
}

#chapter-input {
  border: none;
  padding: 0em;
  height: 1.5em;
}

#input-button {
  cursor: pointer;
  padding-right: .5em;
  border-left: 0;
}

#input-button:hover {
  color: var(--blue);
}

/* Thank you https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

img {
  float: right;
  width: 30vw;
  height: 15vw;
}

div, p {
  display: inline;
}

.chapter-lang-delete {
  padding-right: 0em;
  float: right;
}
